.ttopimg{
  width: 100%;
  height: 270px;
  background: url("../images/Trainers_top.png");
  background-size: cover;
  background-position: center ;
  margin-bottom: 2%;
}

.th1text{
  font-size: 50px;
  position: absolute;
  top: 190px;
  left: 41%;
  font-weight: lighter;
  font-family: serif;
  color:white;
}

.tline{
  width: 7%;
  height: 3px;
  background-color: #14b14b;
  position: absolute;
  top: 250px;
  left: 46%;
}

.tbox{
  margin: 20px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 400px 400px 400px;
}

@media only screen and (max-width: 768px) {
  .ttopimg {
    width: 100%;
    height: 150px;
  }

  .th1text {
    font-size: 25px;
    top: 285px;
    left: 37%;
    transform: translateX(-50%);
  }

  .tline {
    width: 17%;
    top: 320px;
    left: 43%;
  }

  .card_2con{
    height: auto;
    width: 30%;
    margin: 10px;
  }

  .tbox{
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: center;
    
  }
}